.all{
    width: 80%;
    height: 1000px;
    background-color: rgba(24, 123, 184, 0.629);
    margin: auto;
    padding: auto;
    text-align: center;
}
.navbar{
    width: 100%;
    height: 16,5%;
}
.web{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 183, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 4px 4px rgb(5, 18, 42);
    box-shadow: inset 0px 0px 30px rgb(86, 55, 154);
}
.menu{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-shadow:  2px 4px 4px blue;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
li{
    padding: 0px 15px 0px 0px;
    padding-left: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.product1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
}

.productimg img{
    max-width: 100%;
    height: 80%;
    border-radius: 8px;
}


.product2{
    margin-left: 30px;
    max-width: 400px;
}

.product2 h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
    text-shadow: 0px 0px 30px black;
}

.product2 .description{
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.product2 .price{
    font-size: 24px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.btn btn-success{
    background-color: black;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.7s;
}

.btn btn-outline-success:hover{
    background-color: green;
}


